{% extends "base.html" %} {% block content %}
<div>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">PETS!</h1>
      <p class="lead">Current Pets For You</p>
      <a class="btn btn-primary btn-lg" href="{{ url_for('add_pet') }}" role="button">Add a Pet</a>
    </div>
  </div>
  <div>
    {% for pet in pet_list %} 
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ pet.photo_url }}" alt="Pet Photo">
      <div class="card-body">
        <h5 class="card-title"> Hi, my name is <a href="{{ url_for('show_pet', pet_id=pet.id) }}">{{ pet.name }}</a>.</h5>
          {% if pet.available %} 
        <p class="card-text">
           I'm available to adopt!
        </p>
          {% endif %} 
      </div>
      <ul class="list-group list-group-flush">
          <li class="list-group-item">Age: {{ pet.age }}</li>
          <li class="list-group-item">Species: {{ pet.species }}</li>
          <li class="list-group-item">Notes: {{ pet.notes }}</li>
        </ul>
      </div>
    {% endfor %}
  
</div>

{% endblock %}


    
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>